* {
  margin: 0;
  font-family: 'Maiden Orange';
}

body {
  cursor: url('../assets/icons/pepperini-green.svg'), auto;
}

.body-index {
  min-height: 100dvh;
  width: 100%;
  position: relative;
}

button {
  cursor: url('../assets/icons/pepper-hot-solid.svg'), auto;
}

canvas {
  background-color: black;
  border-radius: 16px;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.5), -4px 0 4px rgba(0, 0, 0, 0.5), 0 4px 4px rgba(0, 0, 0, 0.5), 0 -4px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: var(--font-size-44-54);
  letter-spacing: 2px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 24px;
}

h2 {
  padding-top: 10px;
  font-size: var(--font-size-34-38);
}

:root {
  /* font sizes */
  --font-size-32-48: clamp(32px, 28.8px + 1vw, 48px);
  --font-size-22-28: clamp(22px, 20.8px + 0.375vw, 28px);
  --font-size-44-54: clamp(44px, 42px + 0.625vw, 54px);
  --font-size-18-24: clamp(18px, 16.8px + 0.375vw, 24px);
  --font-size-34-38: clamp(34px, 33.2px + 0.25vw, 38px);

  --primary-bg-color: #ffcc18;

  --arrow-back-size: clamp(64px, 60.8px + 1vw, 80px);

  --padding-top-nav: 25px;
}

.start-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
}

.start-screen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start-container,
.menu-container {
  position: absolute;
  overflow: hidden;
  max-width: 720px;
  max-height: 480px;
  width: clamp(320px, 240px + 25vw, 720px);
  height: 480px;
  border-radius: 16px;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.5), -4px 0 4px rgba(0, 0, 0, 0.5), 0 4px 4px rgba(0, 0, 0, 0.5), 0 -4px 4px rgba(0, 0, 0, 0.5);
}

.start-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    #029cc7 0%,
    #029cc7 10%,
    #029cc7 20%,
    #029cc7 30%,
    #029cc7 40%,
    #994409 60%,
    #994409 70%,
    #994409 80%,
    #994409 90%,
    #994409 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.start-container img {
  width: 100%;
  object-fit: contain;
}

.start-nav,
.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.start-nav {
  position: absolute;
  padding-top: var(--padding-top-nav);
}

.btn-desktop {
  white-space: nowrap;
  display: grid;
  place-items: center;
  font-size: var(--font-size-32-48);
  padding: 10px;
  border-radius: 8px;
  border: unset;
  background-color: var(--primary-bg-color);
  box-shadow: 4px 4px 0 rgb(145, 54, 22);
}

.sound-box {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: url('../assets/icons/pepper-hot-solid.svg'), auto;
}

.sound-box span {
  font-size: 22px;
  white-space: nowrap;
}

.sound-box img {
  width: 90px;
  aspect-ratio: 1 / 1;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: url('../assets/icons/pepper-hot-solid.svg'), auto;
}

::-webkit-scrollbar-thumb:active {
  cursor: url('../assets/icons/pepper-hot-solid.svg'), auto;
}

/* maiden-orange-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Maiden Orange';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/maiden-orange-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
