.body-play {
  min-height: 100dvh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
  width: 720px;
  height: 480px;
}

.play-screen {
  z-index: 2;
  background-color: var(--primary-bg-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 720px;
  height: 480px;
  overflow: hidden;
  border-radius: 16px;
  border-radius: 16px;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.5), -4px 0 4px rgba(0, 0, 0, 0.5), 0 4px 4px rgba(0, 0, 0, 0.5), 0 -4px 4px rgba(0, 0, 0, 0.5);
}

.play-nav {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.images-mobile-nav-box-aside {
  position: absolute;
  left: 3px;
  top: 40%;
}

.mobile-nav {
  position: absolute;
  bottom: 3px;
  width: 90%;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.images-mobile-nav-box-right {
  display: flex;
  align-items: center;
  gap: 45px;
}

.images-mobile-nav-box-middle {
  display: flex;
  align-items: center;
}

.images-mobile-nav-box-left {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-left: 25px;
}

.image-box-mobile {
  display: grid;
  place-items: center;
  padding: 0px 11px 0px 11px;
  border-radius: 25%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.image-box-asise {
  padding: 0px 11px 0px 11px;
  border-radius: 25%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.fullscreen-btn {
  padding: 10px;
}

.sound-box,
.quit-game-box,
.fullscreen-box,
.game-pause-box,
.image-box-asise {
  display: grid;
  place-items: center;
  cursor: url('../assets/icons/pepper-hot-solid.svg'), auto;
  width: clamp(20px, 0.8612px + 5.9809vw, 45px);
  aspect-ratio: 1 / 1;
}

.image-box-mobile img {
  width: 55px;
  aspect-ratio: 1 / 1;
}

.images-play-nav {
  width: 100%;
}
.loading-spinner-overlay {
  display: grid;
  place-items: center;
}

.loading-spinner-overlay,
.overlay-you-loose,
.overlay-you-win {
  z-index: 3;
  position: absolute;
  height: 100dvh;
  width: 100%;
  background-color: rgba(42, 43, 43, 0.99);
}

.spinner {
  width: 220px;
  animation: spinnerAnimation 4s infinite linear;
}

@keyframes spinnerAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay-you-loose {
  display: none;
  align-items: center;
  justify-content: center;
}

.overlay-you-loose,
.overlay-you-win {
  align-items: center;
  justify-content: center;
  background-color: #eed4a6;
}

.overlay-you-win {
  display: none;
  align-items: center;
  justify-content: center;
}

.you-loose-box,
.you-win-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 25px; */
}

.you-loose-bg {
  width: var(--image-size-loose);
  animation: looseBgAnimation 1.5s ease-in-out;
}

.you-win-bg {
  width: var(--image-size-win);
  animation: winBgAnimation 1.5s ease-in-out;
}

.loose-nav,
.win-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-bottom: 35px;
  flex-wrap: wrap;
  align-content: flex-start;
  animation: opacity 2.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes looseBgAnimation {
  0% {
    width: 0px;
    transform: rotate(360deg);
  }

  100% {
    width: var(--image-size-loose);
    transform: rotate(0deg);
  }
}

@keyframes winBgAnimation {
  0% {
    width: 0px;
    transform: rotate(360deg);
  }

  100% {
    width: var(--image-size-win);
    transform: rotate(0deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* @media screen and (max-width: 768px) {
  .mobile-nav {
    display: flex;
  }
} */
@media screen and (min-width: 321px) and (max-width: 740px) and (orientation: landscape) {
  .image-box-mobile img {
    width: 41px;
  }

  .you-win-bg {
    width: 200px;
    animation: winBgAnimation 1.5s ease-in-out;
  }
  @keyframes winBgAnimation {
    0% {
      width: 0px;
      transform: rotate(360deg);
    }

    100% {
      width: 200px;
      transform: rotate(0deg);
    }
  }
}
